.printContainer{
    display: table;
    width: 100%;
    height: 150px;
}

.printRow{
    display: table-row;
    border: 0.5px solid black;
}

.printInning{
    display: table-cell;
    border: 0.5px solid black;
    
}

.printAttack{
    display: table-cell;
    border: 1px solid black;
}

.printTeam1{
    display: table-cell;
    border: 1px solid red;
}

.printTeam2{
    display: table-cell;
    border: 1px solid blue;
}